@model unboxed.web.Models.PanelModel
<div class="panel panel-info">
    <div class="panel-heading"> @Model.Title </div>
    <div class="panel-body">
        @Model.Body
    </div>
    <div class="panel-footer">
        @Html.ActionLink(Model.ButtonText, Model.ButtonTarget, new {@class = "btn btn-primary pull-right" })
        <div class="clearfix"></div>
    </div>
</div>