@model unboxed.web.Models.SimpleQuestionFormViewModel
    
@{
    var id = Guid.Parse(Request.RequestContext.RouteData.Values["id"].ToString());
    var questionId = Guid.Parse(Request.RequestContext.RouteData.Values["questionId"].ToString());
}


<header>
    <h1>@Model.Title</h1>
    @using (Html.BeginForm(MVC.YesNo.Index(id, questionId)))
    {
        @Html.EditorFor(m => m.Input)
        <button type="submit" class="btn btn-primary">opslaan</button>
    }

</header>